<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<form method="POST">

    <input type="text" placeholder="city" name="city">
    <input type="submit" value="Сохранить" name="create">
</form>
<ul>
    {% for k,v in arr %}
    <li>{{ k }} {{ v }}
        <button id="id{{ k }}" onclick="edit(this.id)">Редактировать</button>
        <form method="POST">
            <input type="text" placeholder="city" name="city" class="id{{ k }}" value="{{ y }}" hidden>
            <input type="text" hidden name="id" value="{{ k }}">
            <input type="submit" value="Изменить" name="update">
        </form>
        <form method="POST">

            <input type="text" hidden placeholder="city" name="city" value="{{ k }}">
            <input type="submit" value="Удалить" name="delete">
        </form>
        {% endfor %}
    </li>
</ul>
<script src="static/js/script.js">
</script>
</body>
</html>